{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "eslint-config-prettier",
    "react-app/jest"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "no-redeclare": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "global-require": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
