{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "no-redeclare": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "global-require": "off"
  }
}
