{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "react-app/jest"
  ],
  "rules": {
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "react/require-default-props": "off",
    "no-redeclare": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "global-require": "off",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }
    ]
  },
  "globals": {
    "JSX": "readonly"
  },
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
