.Login {
  background-color: #edf5ff;
  display: block;
  background-size: 100%;
  position: relative;
  max-width: 100%;
  height: 100vh;
}

Form {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  border-radius: 5px;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
  box-shadow: 5px 7px 30px #484979;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 40px);
  background-color: #fff;
}

.header {
  padding-left: 3em;
  padding-right: 3em;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 3em;
  padding-top: 3em;
}

@media screen and (max-width: 400px) {

  img {
    padding-bottom: 2em;
    padding-top: 1em;
  }

  Form {
    width: 100%;
    float: none;
  }
  
}

.text-center {
  position: relative;
  font: 150% JetBrains Mono, monospace;
  font-weight: bold;
  color: #9b9b9b;
}

button {
  background-color: #fff;
  color: #9b9b9b;
  font: 70% JetBrains Mono, monospace;
  font-weight: bold;
  transition-duration: .4s;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #efefef;
  text-align: center;
}

button:hover {
  background-color: #007bff;
  color: #fff;
}

input {
  border: 2px solid #efefef;
  border-radius: 5px;
  background-color: #fff;
  font: 80% JetBrains Mono, monospace;
  color: #8e8c8c;
  text-align: left;
  padding-left: 1em;
}

input:focus-visible {
  border: 2px solid #007bff;
}

input:focus {
  outline: none;
}
